absl-py==0.4.1
astor==0.7.1
gast==0.2.0
grpcio==1.15.0rc1
Markdown==2.6.11
numpy==1.15.1
pandas==0.23.4
protobuf==3.6.1
psutil==5.4.7
python-dateutil==2.7.3
pytz==2018.5
scikit-learn==0.19.2
scipy==1.1.0
six==1.11.0
sklearn==0.0
soynlp==0.0.46
tensorboard==1.10.0
tensorflow-gpu==1.15.4
termcolor==1.1.0
Werkzeug
